header{
    width: 100%;
    height: 40px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #68b0ab;
    a{
        text-decoration: none;
        color: #faf3dd;
    }
    ul{
        display: flex;
        padding-left: 75%;
        margin-top: 0px;
        li{
            display: flex;
            font-size:20px ;
            flex-wrap: nowrap;
            a{
                text-decoration: none;
                list-style: none;
                padding-right: 15px;
                color: #faf3dd;
            }
        }
    }
}